c
.ticket {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    box-sizing: border-box; 
    margin: 200px;           
}
.ticket input, .ticket button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
}
.ticket button {
    background-color: #da6b40;
    color: white;
    border: none;
    cursor: pointer;
}

.ticket button:hover {
    background-color: #a14f2e;
}

#don, #don2, #remise, #port, #total {
    margin: 0; 
    padding: 0; 
}