html, body {
    height: 100%; 
    width: 100%;
    margin: 0;    
    justify-content: center; 
    align-items: center; 
    background: rgb(141,177,181) ;
   
}

.less {
background-color: rgb(255, 255, 255);
opacity: 50%;
height: 220px;
margin: 10px;
color:rgb(34, 32, 30);
text-align: center;
padding-top: 10px;
}

.less:hover {
    opacity: 80%;
    height: 220px;
    margin: 20px;
    color:rgb(15, 15, 15);
    text-align: center;

}
.container img {
    width: 35%;
    padding: 5px;
}

.pan {
    background-color: rgb(255, 255, 255);
    height: 50%;
    margin: 30px;
    color:rgb(34, 32, 30);
    text-align: center;
    
    }

