body {
    display: block;
}

#droit {
    background-color: gray;
    flex: 4;
}

#gauche {    
    flex: 8;
}

.section1 {
    display: flex;
}

.main-menu {
    display: flex;
    color: white;
}

nav {
    background-color: black;
    padding: 5px;  
    margin-bottom: 5px;
    color: white;
}

nav ul, footer li {
    list-style: none;
}

nav li, footer li {
    margin-right: 5px;
}

nav a {
    color: white; 
}

footer {
    background-color: black; 
    color: white;
    display: flex;
    margin-top: 5px;
}

footer a {
    color: white;
}

#logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo img {
    width: 30%;
}

header h1{
    margin-right: 0px;
}
@media screen and (max-width: 600px) {
    body {
      
        min-height: 100%;
        margin: 0;
        margin-left: 5px;
        margin-right: 5px;
        padding: 0;
    }
    footer 
    {
        position: absolute; bottom: 0;  
        margin-right: 0px;
      }

    nav ul {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    nav a {
        font-size: 20px;

    }
    nav li, footer li {
        margin-right: 30px;
    }
    footer li {
        margin-right: 28px;
        
    }
    header h1 {
        font-size: 15px;
        display: flex;
        
      
    }
    #logos {
        flex-direction: row; 
        justify-content: center;
        white-space: nowrap; 
    }

    
    #logos h1 {
        margin-top: 2px;
    }
    
    p {
       font-size: 14px;
    }

    #gauche h1, #gauche h2 {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    #gauche p {
        margin-top: 5px;
        margin-bottom: 5px;
    }

 .section1 {
      display: flex;
      flex-direction: column;

 }
    
          
}

    



@media (min-width: 600px) and (max-width: 768px) {
    /* Дополнительные стили для данного диапазона */
}

@media (min-width: 768px) and (max-width: 1024px) {
    /* Дополнительные стили для данного диапазона */
}

@media (min-width: 1024px) {
    /* Дополнительные стили для данного диапазона */
}